body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#e5e7eb;
}

.box{
  background:white;
  padding:30px;
  border-radius:8px;
  text-align:center;
  width:260px;
}

input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  text-align:center;
}

button{
  padding:10px;
  cursor:pointer;
}
